* {
  box-sizing: border-box;
  font-family: Helvetica;
}
h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 175%;
}
p {
  border: 1px solid black;
  width: 120px;
  height: 25px;
  margin: 0;
  text-align: center;
  font-size: 125%;
  position: absolute;
  top: 0px;
  right: 10px;
}

#p1 {
  background-color: #ff9999;
  color: black;
}

#p2 {
  background-color: #990000;
  color: white;
}

#p3 {
  background-color: #ffeb99;
  color: black;
}

.content {
  margin-left: 20px;
  margin-right: 10px;
  border: 1px solid black;
  background-color: gray;
  text-align: left;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 5px;
  margin-bottom: 25px;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/* Desktop view. */
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%; 
    position: relative;
  }
}

/* Tablet view. */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 50%;
    position: relative;
  }
  .col-md-12 {
    float: left;
    width: 100%;
    position: relative;
  } 
}

/* Mobile view. */
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
    position: relative;
  }
}